.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: var(--size-small-title);
  font-family: var(--font-roboto);
  font-weight: lighter;
  z-index: 2;
}

.menu > li {
  list-style: none;
  margin-left: 50px;
  cursor: pointer;
}

.menu > li:last-of-type {
  margin-right: 50px;
}

.menu > li:hover {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
