:root {
  --font-modak: "Modak", cursive;
  --font-roboto: "Roboto", sans-serif;
  --font-archivo: "Archivo Black", sans-serif;
  --primary: #000000;
  --secondary: #e39b00;
  --gray: #bbbbbb;
  --white: #ffffff;
  --light-gray: #fbfafa;
  --shadow-gray: #dbdbdb;
  --white: #ffffff;
  --black-text: #0e0d2a;
  --orange: #e39b00;
  --size-main-title: 77px;
  --size-paragraph: 17px;
  --size-small-title: 25px;
  --size-burguer: 235px;
  --size-food: 146px;
}
