.title {
  position: absolute;
  top: 30%;
  left: 10%;
}

.top-title {
  font-size: 28px;
  font-family: var(--font-roboto);
  font-weight: lighter;
  color: var(--gray);
}

.main-title {
  font-family: var(--font-modak);
  font-size: var(--size-main-title);
  font-weight: normal;
  margin: 21px 0px;
  line-height: 60px;
}

.subtitle {
  font-family: var(--font-roboto);
  font-weight: lighter;
  font-size: var(--size-paragraph);
  margin-bottom: 21px;
}

.button-start {
  font-family: var(--font-roboto);
  font-weight: lighter;
  font-size: 21px;
  background-color: transparent;
  padding: 0.5rem 1.6rem;
  border-radius: 30px;
  border: 1px solid black;
  letter-spacing: 2px;
  cursor: pointer;
}

.button-start:hover {
  background-color: var(--primary);
  color: var(--gray);
}

@media only screen and (max-width: 768px) {
  .title {
    display: none;
  }
}
