.btn-search {
  width: 379px;
  height: 57px;
  background-color: #fbfafa;
  border-radius: 30px;
  padding-left: 30px;
  font-size: var(--size-small-title);
  border: none;
  font-family: var(--font-roboto);
  font-weight: lighter;
}
